@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

:root {
  --default-font: 'Play', sans-serif, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(darkblue, lightblue);
  font-family: var(--default-font);
}

.logo img {
  height: 70px;
  width: auto;
  border-radius: 50%;
}

header {
  background-color: darkblue;
  color: rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  padding: 8px 0px;
  background-color: #0000003d;
  /* opacity: 0.6; */
  z-index: 1;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.headerContainer h1 {
  font-size: 2.3rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  background-color: radial #333;
}

.topBarContainer {
  /* outline: 1px solid black; */
  width: 70vw;
  height: 80px;
  margin-top: 8%;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 12px 12px;
  background-color: lightgray;
  box-shadow: 0px 2px 1px #7a7a7a42;
}

.topBarContainer p {
  align-items: center;
  transition: opacity 0.5s ease-in-out;
  font-size: 1.4rem;
  opacity: 1;
  text-align: center;
}

p.invisible {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

button.shipCell {
  background-color: grey;
  transition: background-color 0.2s ease-in-out;
}

#AIBoard button,
#playerBoard button {
  border-radius: 0;
}

.playerBoardContainer,
.aiBoardContainer {
  display: grid;
}

#boardsContainer {
  display: flex;
  justify-content: center;
  gap: 24px;
  /* outline: 1px solid black */
  padding: 12px;
  display: grid;
  grid-template-rows: none;
  grid-template-columns: repeat(auto-fit, minmax(400px, 38vw));
  width: 83vw;
  margin-bottom: 14px;
}

button.orientationToggleBtn {
  background-color: #333;
  color: white;
  border-radius: 8px;
  height: 60%;
  width: 100px;
  font-size: 1rem;
  transition: 0.1s ease-in-out;
  border: none;
  font-family: var(--default-font);
}

button.orientationToggleBtn:hover,
button.orientationToggleBtn:active {
  background-color: #3c3c3c;
  border: none;
}

#boardsContainer p {
  justify-self: center;
  font-size: 1.2rem;
  color: white;
  background-color: grey;
  padding: 6px 8px;
  border-radius: 8px 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#playerBoard {
  outline: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 50px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
}

#AIBoard {
  outline: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 50px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
}

button.boardCell {
  border-radius: 0px;
  background-color: rgb(235, 235, 235);
  color: black;
  font-size: 1rem;
  transition: opacity 0.3s ease-in;
}

button.shipCell {
  background-color: #333;
  border: 1px solid black;
  transition: background-color 0.3s ease-in;
}

button.shipHit {
  background-color: rgb(114, 21, 21);
  transition: background-color 0.3s ease-in;
}

@media only screen and (max-device-width: 812px) {
  #boardsContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
    /*  outline: 1px solid black; */
    padding: 12px;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: repeat(auto-fit, minmax(325px, 38vw));
    width: 86vw;
    margin-bottom: 14px;
    margin-bottom: 24px;
  }

  #AIBoard {
    outline: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 42px);
    background-color: rgb(235, 235, 235);
  }

  #playerBoard {
    outline: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 42px);
    background-color: rgb(235, 235, 235);
  }

  .topBarContainer {
    /* outline: 1px solid black; */
    height: 40vh;
    margin-top: 8%;
    display: flex;
    gap: 8%;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px;
    background-color: lightgray;
    box-shadow: 0px 2px 1px #7a7a7a42;
    width: 76vw;
    /* width: 100%; */
    max-height: 118px;
    padding: 8px;
  }

  .topBarContainer p {
    /* outline: 1px solid black; */
    font-size: 1.1rem;
    height: fit-content;
    margin: 0;
    max-height: 80vh;
  }

  #boardsContainer p {
    justify-self: center;
    font-size: 1.1rem;
  }

  button.orientationToggleBtn {
    background-color: #333;
    color: white;
    border-radius: 8px;
    height: 50%;
    width: 100px;
    font-size: 1rem;
  }
}